.carousel-container {
  width: 100%; /* Ensure full width for the container */
  margin: 0 auto; /* Center the carousel */
}

.slick-slide img {
  width: 100%;
  height: 100%; /* Ensures the image covers the entire slide */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  display: block;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-dots {
  bottom: 10px;
}
